.container {
    background-color: #4CAF50;
    -webkit-transition: background-color 7s ease-in-out;
    -moz-transition: background-color 7s ease-in-out;
    -o-transition: background-color 7s ease-in-out;
    -khtml-transition: background-color 7s ease-in-out;
    transition: background-color 7s ease-in-out;
}

.circle {
    width: 25vw;
    height: 25vw;
    border-radius: 99em;
    background-color: black;
    opacity: 0.2;
    z-index: 5;
    position: absolute;
    top: 25%;
    left: 37.5%;
    -webkit-transition: background-color 3s ease-in-out;
    -moz-transition: background-color 3s ease-in-out;
    -o-transition: background-color 3s ease-in-out;
    -khtml-transition: background-color 3s ease-in-out;
    transition: background-color 3s ease-in-out;
}

.mdh-expandable-search {
  margin: 0 50px;
  align-items: center;
  justify-content: center;
}

.mdh-expandable-search form {
  max-width: 600px;
}

.mdh-expandable-search,
.mdh-expandable-search form,
.mdh-expandable-search input {
  /* Cross browser flex-grow */
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.mdh-expandable-search,
.mdh-expandable-search form {
  /* Cross browser inline-flex */
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

/* Position search icon */
.mdh-expandable-search .material-icons {
  position: relative;
  right: -40px;
  margin-left: -24px; /* Remove the blank space left behind by the icon being relatively positioned */
}

.mdh-expandable-search input {
  outline: none;
  border: none;
  font-size: 16px;
  color: #FFFFFF;
  background-color: #7986cb;
  padding: 0px 35px 0px 70px;
  height: 40px;
  line-height: 40px;

  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
}

.mdh-expandable-search input::-webkit-input-placeholder { /* WebKit browsers */
    color:    #FFFFFF;
}
.mdh-expandable-search input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #FFFFFF;
   opacity:  1; /* Firefox gives the placeholder a reduced opacity so we have to increase it */
}
.mdh-expandable-search input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #FFFFFF;
   opacity:  1; /* Firefox gives the placeholder a reduced opacity so we have to increase it */
}
.mdh-expandable-search input:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #FFFFFF;
}


/* Bug fix: https://github.com/google/material-design-lite/issues/1078
 * To much padding on the left of header when the menu button is hidden */
@media screen and (min-width: 851px) {
  .mdl-layout__header-row {
    padding: 0 40px 0 40px;
  }
}

/* Bug fix for badges being in the wrong location */
.mdl-badge[data-badge]:after {
  right: -7px;
  top: -8px;
}

.mdl-card + .mdl-card {
  margin-top: 40px;
}

.mdl-card--horizontal {
  margin: 2em;
  flex-direction: column;
  height: 1vh;
  /* 1 */
  padding-left: 150px;
  width: 70%;
  left: 12.5%;

}

.mdl-card--horizontal img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.mdl-card--horizontal .mdl-card__media {
  left: 0;
  position: absolute;
  width: 150px;
}
.mdl-card--horizontal .mdl-card__supporting-text {
  flex: 1 1 auto;
  width: auto;
}

.graph-card-wide {
    border-radius: 4px;
    background-color: #ECEFF1;
    margin-top: 2em;
    width: 100%;
    padding: 0.6em;
}

.graph-card-wide.mdl-card {
    width: 100%;
}

.graph-card-wide > .mdl-card__menu {
  color: #fff;
}

.buy-card-wide {
    border-radius: 4px;
    background-color: #ECEFF1;
    margin-top: 2em;
    width: 98%;
    padding: 0.6em;
}


.buy-card-wide > .mdl-card__menu {
  color: #fff;
}

.content-grid {
  max-width: 960px;
}

.mdl-card__graph-text {
    text-align: center;
    padding: 0.8em;
    font-weight: bold;
}

.mdl-card__graph-text span {
    display: inline-block;
}

.mdl-card__buy-text span {
    display: inline-flex;
    vertical-align: middle;
}

.mdl-card__buy-text {
    padding: 0.8em;
    font-weight: bold;
}

.buy-card-wide button {
    width: 100px;
    position: relative;
}

.good-buy {
    background-color: #00C853;
}

.good-buy button {
    background-color: #00E676;
    color: #263238;
}

.average-buy {
    background-color: #FDD835;
}

.average-buy button {
    background-color: #FFC400;
    color: #263238;
}

.bad-buy {
    background-color: #D84315;
}

.bad-buy button {
    background-color: #FF3D00;
    color: #263238;
}
